.all-products-section {
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .all-products-container {
    margin-left: 30px;
    width: 70%;
  }
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 60%;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.product-header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.filter-container {
  display: flex;
}
.description_link {
  display: flex;
  justify-content: space-between;
}
.skills-apps {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* height: 30vh; */
  /* justify-content: space-around; */
}
.life-at-company-container {
  display: flex;
}
.life-at-company-image {
  width: 50%;
}
.product-maine-container {
  color: #ffffff;
  margin: 50px;
}
